<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Galactik HackBall</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/grayscale.min.css" rel="stylesheet">

  </head>

  <body id="page-top" >

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Galactik Hackball</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signin">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Team</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <!--
              <h1 class="brand-heading">Galactik Hackball</h1> -->
              <br><br><br><br><br><br><br><br><br><br><br><br>
              <br><br><br><br><br><br><br><br><br><br><br><br>
              <p class="intro-text">Explore playing football in space in this
                web browser game inspired by the 2006
                French animated television series.</p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About Galactik Football</h2>
            <p>Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
              <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
            <br><p>This theme features stock photos by
              <a href="http://gratisography.com/">Gratisography</a>
              along with a custom Google Maps skin courtesy of
              <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
            <br><p>Grayscale includes full HTML, CSS, and custom JavaScript files along with SASS and LESS files for easy customization!</p>
          </div>
        </div>
      </div>
    </section>

    <!-- SignIn Section-->
    <section id="signin" class="content-section text-center">
    <form>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Sign in to enter the game</h2>
            <hr>
            <label for="email"><b>Email</b></label><br>
            <input type="text" placeholder="Enter Email" name="email" required>

            <br>

            <label for="psw"><b>Password</b></label><br>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <br><br><br><br>
            <button type="submit" class="btn btn-default btn-lg"><a href="afterlogin.html">Sign In</a></button>
            <br><br>
          </div>
        </div>
      </div>
    </form>
    </section>


    <!-- Register Section -->
    <section id="register" class="content-section text-center">
    <form id="signupForm">
      <div class="container">
        <h2>Register to play Galactik HackBall</h2>
        <hr>
        <label for="name"><b>Full name:</b></label><br>
        <input id="name" type="text" placeholder="Enter your full name" name="name" required>

        <br>

        <label for="email"><b>Email:</b></label><br>
        <input id="email" type="text" placeholder="Enter Email" name="email" required>

        <br>

        <label for="teamname"><b>Team name:</b></label><br>
        <input id="teamname" type="text" placeholder="Enter your team name" name="teamname" required>

        <br>

        <label for="psw"><b>Password:</b></label><br>
        <input id="password" type="password" placeholder="Enter Password" name="psw" required>

        <br>

        <label for="psw-repeat"><b>Repeat Password:</b></label><br>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
        <hr>

        <button id="btnSignUp" type="button" class="btn btn-default btn-lg">Register</button>
        <br><br>
      </div>

      <div class="container signin">
        <p>Already have an account? <a href="#signin">Sign in</a>.</p>
      </div>
    </form>
  </section>

<!--
    <section id="register" class="register-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>Register to play <br> Galactik HackBall</h2>
          <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
            <br><br><br><br>
          <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
        </div>
      </div>
    </section>
-->
    <!-- Team Section -->
    <section id="team" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Our Team: La Mesa De Papel</h2>
            <p>We are a team of first-year Computer Science students, always
            in search of new challenges that could help us technically develop.
            <br> <br> Although this isn't the first hackathon that we compete in
            together, it's our longest and most ambitious one yet!
            <br> <br> We hope you all enjoyed our idea at least as much as we did
            while building it! <br> Lots of hugs from Adi, Teodor, Mihai and Lexi! </p>
            <br><br><br><br>
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/SHVIPhotoBooth" class="btn btn-default btn-lg">
                  <i class="fa fa-twitter fa-fw"></i>
                  <span class="network-name">Twitter</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/VoidBoyHD/GalactikHackBall" class="btn btn-default btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/studenthack/" class="btn btn-default btn-lg">
                  <i class="fa fa-facebook fa-fw"></i>
                  <span class="network-name">Facebook</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>



    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; LaMesaDePapel Team, StudentHack VI, 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/grayscale.min.js"></script>
    <script>$(function() {
    $('#btnSignUp').click(function() {

        $.ajax({
            url: '/signUp',
            data: $('#signupForm').serialize(),
            type: 'POST',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});</script>

  </body>

</html>
